<!DOCTYPE html>
<html>
  <head>
    <title><%= description.name %> - Machinery System Description</title>

    <link rel="stylesheet" type="text/css" href="assets/machinery-base.css">
    <link rel="stylesheet" type="text/css" href="assets/machinery.css">

    <script src="assets/jquery-2.1.1.min.js"></script>
    <script src="assets/hogan-3.0.2.min.mustache.js" ></script>

    <script id="content" type="text/html">
      {{>os}}
      {{>packages}}
      {{>patterns}}
      {{>users}}
      {{>groups}}
      {{>repositories}}
      {{>unmanaged-files}}
      {{>changed-managed-files}}
      {{>config-files}}
      {{>services}}
    </script>

    <script id="os" class="partial" type="text/html">
      {{#os}}
        <div class="scope-logo-big">
          <img src="assets/logo-os.png" />
        </div>
        <h2>Operating system</h2>
        <div class="row">
          <div class="col-xs-3">
            <table class="table table-striped table-condensed">
              <tr>
                <th>Name</th>
                <td>{{os.name}}</td>
              </tr>
              <tr>
                <th>Version</th>
                <td>{{os.version}}</td>
              </tr>
              <tr>
                <th>Architecture</th>
                <td>{{os.architecture}}</td>
              </tr>
            </table>
          </div>
        </div>
      {{/os}}
    </script>

    <script id="packages" class="partial" type="text/html">
      {{#packages.length}}
        <div class="scope-logo-big">
          <img src="assets/logo-packages.png" />
        </div>
      <h2>Packages</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Version</th>
                  <th>Release</th>
                  <th>Arch</th>
                  <th>Vendor</th>
                  <th>Checksum</th>
                </tr>
              </thead>
              <tbody>
                {{#packages}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{version}}</td>
                    <td>{{release}}</td>
                    <td>{{arch}}</td>
                    <td>{{vendor}}</td>
                    <td>{{checksum}}</td>
                {{/packages}}
              </tbody>
            </table>
          </div>
        </div>
      {{/packages.length}}
    </script>

    <script id="patterns" class="partial" type="text/html">
      {{#patterns.length}}
        <div class="scope-logo-big">
          <img src="assets/logo-patterns.png" />
        </div>
      <h2>Patterns</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Version</th>
                  <th>Release</th>
                </tr>
              </thead>
              <tbody>
                {{#patterns}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{version}}</td>
                    <td>{{release}}</td>
                {{/patterns}}
              </tbody>
            </table>
          </div>
        </div>
      {{/patterns.length}}
    </script>

    <script id="users" type="text/html">
      {{#users.length}}
        <div class="scope-logo-big">
          <img src="assets/logo-users.png" />
        </div>
        <h2>Users</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>UID</th>
                  <th>GID</th>
                  <th>Comment</th>
                  <th>Home</th>
                  <th>Shell</th>
                </tr>
              </thead>
              <tbody>
                {{#users}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{uid}}</td>
                    <td>{{gid}}</td>
                    <td>{{comment}}</td>
                    <td>{{home}}</td>
                    <td>{{shell}}</td>
                  </tr>
               {{/users}}
              </tbody>
            </table>
          </div>
        </div>
      {{/users.length}}
    </script>

    <script id="unmanaged-files" class="partial" type="text/html">
      {{#unmanaged_files.files.length}}
      <div class="scope-logo-big">
        <img src="assets/logo-unmanaged-files.png" />
      </div>
      <h2>Unmanaged Files</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                {{#unmanaged_files.files}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{type}}</td>
                  </tr>
                {{/unmanaged_files.files}}
              </tbody>
            </table>
          </div>
        </div>
      {{/unmanaged_files.files.length}}
    </script>

    <script id="groups" type="text/html">
      {{#groups.length}}
        <div class="scope-logo-big">
          <img src="assets/logo-groups.png" />
        </div>
        <h2>Groups</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>GID</th>
                  <th>Password</th>
                  <th>Users</th>
                </tr>
              </thead>
              <tbody>
                {{#groups}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{gid}}</td>
                    <td>{{password}}</td>
                    <td>{{users}}</td>
                  </tr>
               {{/groups}}
              </tbody>
            </table>
          </div>
        </div>
      {{/groups.length}}
    </script>

    <script id="repositories" class="partial" type="text/html">
      {{#repositories.length}}
        <div class="scope-logo-big">
          <img src="assets/logo-repositories.png" />
        </div>
        <h2>Repositories</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Alias</th>
                  <th>Type</th>
                  <th>URL</th>
                  <th>Enabled</th>
                  <th>Autorefresh</th>
                  <th>GPG Check</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tbody>
                {{#repositories}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{alias}}</td>
                    <td>{{type}}</td>
                    <td>{{url}}</td>
                    <td>{{enabled}}</td>
                    <td>{{autorefresh}}</td>
                    <td>{{gpgcheck}}</td>
                    <td>{{priority}}</td>
                  </tr>
                {{/repositories}}
              </tbody>
            </table>
          </div>
        </div>
      {{/repositories.length}}
    </script>

    <script id="changed-managed-files" class="partial" type="text/html">
      {{#changed_managed_files.files.length}}
      <div class="scope-logo-big">
        <img src="assets/logo-changed-managed-files.png" />
      </div>
      <h2>Changed Managed Files</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Package Name</th>
                  <th>Package Version</th>
                  <th>Changes</th>
                  <th>Mode</th>
                  <th>User</th>
                  <th>Group</th>
                </tr>
              </thead>
              <tbody>
                {{#changed_managed_files.files}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{package_name}}</td>
                    <td>{{package_version}}</td>
                    {{#changes.length}}
                      <td>{{changes}}</td>
                    {{/changes.length}}
                    {{#error_message}}
                      <td title="{{error_message}}">Error</td>
                    {{/error_message}}
                    <td>{{mode}}</td>
                    <td>{{user}}</td>
                    <td>{{group}}</td>
                  </tr>
                {{/changed_managed_files.files}}
              </tbody>
            </table>
          </div>
        </div>
      {{/changed_managed_files.files.length}}
    </script>

    <script id="config-files" class="partial" type="text/html">
      {{#config_files.files.length}}
      <div class="scope-logo-big">
        <img src="assets/logo-config-files.png" />
      </div>
      <h2>Config Files</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Package Name</th>
                  <th>Package Version</th>
                  <th>Changes</th>
                  <th>Mode</th>
                  <th>User</th>
                  <th>Group</th>
                </tr>
              </thead>
              <tbody>
                {{#config_files.files}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{package_name}}</td>
                    <td>{{package_version}}</td>
                    {{#changes.length}}
                      <td>{{changes}}</td>
                    {{/changes.length}}
                    {{#error_message}}
                      <td title="{{error_message}}">Error</td>
                    {{/error_message}}
                    <td>{{mode}}</td>
                    <td>{{user}}</td>
                    <td>{{group}}</td>
                  </tr>
                {{/config_files.files}}
              </tbody>
            </table>
          </div>
        </div>
      {{/config_files.files.length}}
    </script>

    <script id="services" class="partial" type="text/html">
      {{#services.services.length}}
        <div class="scope-logo-big">
          <img src="assets/logo-services.png" />
        </div>
        <h2>Services</h2>
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-hover table-condensed">
              <tr>
                <th>Init system</th>
                <td>{{services.init_system}}</td>
              </tr>
            </table>
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
                {{#services.services}}
                  <tr>
                    <td>{{name}}</td>
                    <td>{{state}}</td>
                {{/services.services}}
              </tbody>
            </table>
          </div>
        </div>
      {{/services.services.length}}
    </script>

    <script type="text/javascript">
      var description = JSON.parse('<%= description.to_hash.to_json %>')
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        templates = {}
        scopes = [
          "os",
          "changed-managed-files",
          "config-files",
          "unmanaged-files",
          "groups",
          "users",
          "packages",
          "patterns",
          "repositories",
          "services"
        ]
        $.each(scopes, function(index, scope) {
          templates[scope] = Hogan.compile($("#" + scope).html())
        })

        template = Hogan.compile($('#content').html())
        $("#content_container").html(
          template.render(description, templates)
        )
      })
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <h1>System '<%= description.name %>'</h1>

      <div id="content_container"></div>
    </div>
  </body>
</html>
