<!DOCTYPE html>
<html>
  <head>
    <title>Machinery - System Description</title>

    <link rel="stylesheet" type="text/css" href="assets/machinery.css">

    <script src="assets/jquery-2.1.1.min.js"></script>
    <script src="assets/ICanHaz.min.js" ></script>

    <script id="body" type="text/html">
      <h1>Machinery</h1>
      {{>os}}
      {{>packages}}
      {{>users}}
      {{>unmanaged-files}}
    </script>

    <script id="os" class="partial" type="text/html">
      <h2>Operating system</h2>
      <table>
        <tr>
          <th>Name</th>
          <td>{{os.name}}<td>
        <tr>
        <tr>
          <th>Architecture</th>
          <td>{{os.architecture}}<td>
        <tr>
      </table>
    </script>

    <script id="packages" class="partial" type="text/html">
      {{#packages.length}}
      <h2>Packages</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Release</th>
            <th>Arch</th>
            <th>Vendor</th>
            <th>Checksum</th>
          </tr>
        </thead>
        <tbody>
          {{#packages}}
            <tr>
              <td>{{name}}</td>
              <td>{{version}}</td>
              <td>{{release}}</td>
              <td>{{arch}}</td>
              <td>{{vendor}}</td>
              <td>{{checksum}}</td>
          {{/packages}}
        </tbody>
      </table>
      {{/packages.length}}
    </script>

    <script id="users" type="text/html">
      {{#users.length}}
        <h2>Users</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>UID</th>
                <th>GID</th>
                <th>Comment</th>
                <th>Home</th>
                <th>Shell</td>
              </tr>
            </thead>
          <tbody>
            {{#users}}
          <tr>
            <td>{{name}}</td>
            <td>{{uid}}</td>
            <td>{{gid}}</td>
            <td>{{comment}}</td>
            <td>{{home}}</td>
            <td>{{shell}}</td>
          </tr>
           {{/users}}
          </tbody>
        </table>
      {{/users.length}}
    </script>

    <script id="unmanaged-files" class="partial" type="text/html">
      {{#unmanaged_files.files.length}}
      <h2>Unmanaged Files</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {{#unmanaged_files.files}}
            <tr>
              <td>{{name}}</td>
              <td>{{type}}</td>
          {{/unmanaged_files.files}}
        </tbody>
      </table>
      {{/unmanaged_files.files.length}}
    </script>

    <script type="text/javascript">
      var description = JSON.parse('<%= description.to_hash.to_json %>')
    </script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("body").html(ich.body(description))
      })
    </script>
  </head>
  <body>
  </body>
</html>
